@import '../../styles/separators.scss';
@import '../../styles/all-fonts.scss';

.certificates {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding-top: 50px;
  flex-direction: column;

  &__title {
    @include titleText('black');
  }

  &__separator {
    @include separator('black')
  }

  &__container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
    gap: 30px;
  }
}