@use '../mixins' as mixins;
@use '../../../../../fonts/fonts.scss' as font;

.mail {
  @include mixins.main-wrapper;
}

.mail__icon-wrapper {
  @include mixins.icon-wrapper;
}

.mail__icon {
  width: 58px;
  height: 42px;

  @media screen and (max-width: 1139px) {
    width: 48px;
    height: 22px;
  }
}

.mail__info-wrapper {
  @include mixins.info-wrapper;
}

.mail__info {
  @include font.DMSans;
  @include mixins.info;
}