@import '../../styles/skills-style.scss';
@import '../../styles/separators.scss';

.languages {
  @include leftSideWrapper;

  &__title {
    @include titleLeftSide;
  }

  &__separator {
    @include separator('white');
  }

  &__container {
    @include leftSideContainer;
  }
}