@import '../../styles/all-fonts.scss';
@import '../../styles/separators.scss';

.languages {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding-top: 70px;
  flex-direction: column;
  justify-content: flex-start;

  &__title {
    @include titleText('gray');
  }

  &__separator {
    @include separator('white');
  }

  &__container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
  }
}