$text-color: #FFFFFF;

.contacts {
  display: flex;
  width: 85%;
  padding-top: 45px;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.contacts__about,
.contacts__links {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.contacts__title-about,
.contacts__title-links {
  font-size: 2.2em;
  color: $text-color;
}

.contacts__text-about {
  text-align: center;
  font-size: 1.5em;
  color: $text-color;
}

.contacts__links-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

