@use '../../../fonts/fonts' as font;

.certificates {
  grid-area: certificates;
  display: flex;
  width: 100%;
  height: 300px;
  margin-top: 25px;
  flex-direction: column;
  justify-content: flex-start;
}

.certificates__wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: #161415;
}

.certificates__title {
  @include font.DMSans;
  text-transform: uppercase;
  font-size: 2.2rem;
  color: #FFFFFF;
}

.certificates__list-wrapper {
  display: flex;
  width: 100%;
  height: 225px;
  margin-top: 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.certificates__list {
  display: flex;
  width: 85%;
  list-style-type: disc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}