@import '../../styles/colors.scss';
@import '../../styles/all-fonts.scss';

.footer {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: map-get($colors, 'title');

  &__link {
    @include textGeneral('medium');
  }
}