@use '../../../fonts/fonts.scss' as font;

.full-name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (max-width: 960px) {
    height: 250px;
  }
}

.full-name__name,
.full-name__surname {
  @include font.Now-Bold;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #FFFFFF;

  @media screen and (max-width: 1139px) {
    font-size: 5rem;
  }

  @media screen and (max-width: 559px) {
    font-size: 4rem;
  }
}