@font-face {
  font-family: 'DMSans';
  src: local('DMSans'), url('../../src/fonts/DMSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Now Bold';
  src: local('Now Bold'), url('../../src/fonts/Now-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat Light'), url('../../src/fonts/Montserrat-Light.ttf') format('ttf');
}