@font-face {
  font-family: 'Garet';
  src: url('../Garet-Book.ttf'), format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../OpenSans-Regular.ttf'), format('ttf');
}

$all-fonts: ('Garet', 'Open Sans');