@font-face {
  font-family: 'DMSans';
  src: local('DMSans'), url('../../DMSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Now Bold';
  src: local('Now Bold'), url('../../Now-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat Light';
  src: local('Montserrat Light'), url('../../Montserrat-Light.woff2') format('woff2');
}