@use '../mixins.scss' as mixins;
@use '../../../../../fonts/fonts.scss' as font;

.git {
  @include mixins.main-wrapper;
}

.git__icon-wrapper {
  @include mixins.icon-wrapper;
}

.git__icon {
  width: 60px;
  height: 60px;
}

.git__info-wrapper {
  @include mixins.info-wrapper;
}

.git__info {
  @include font.DMSans;
  @include mixins.info;
  font-size: 1.2rem;
}