@use '../../../fonts/fonts.scss' as font;

.education {
  grid-area: education;
  display: flex;
  width: 100%;
  height: 315px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.education__title-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: #161415;
}

.education__title {
  @include font.DMSans;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #ffffff;
}

.education__places-wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: flex-start;
  gap: 20px;
}

.education__place {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.education__institution,
.education__period {
  @include font.DMSans;
  font-size: 1.6rem;
  font-weight: 400;
  color: #161415;
}