$element-width: 100%;

.bground {
  position: relative;
  z-index: 1;
  width: $element-width;

  @media screen and (max-width: 960px) {
    height: 3200px;
  }
}

.bground__top {
  width: $element-width;
  height: 280px;
  background: #186ab4;
}

.bground__bottom {
  width: $element-width;
  height: 1625px;
  background: #ffffff;

  @media screen and (max-width: 960px) {
    height: 2983px;
  }
}