$element-width: 100%;

.bground {
  position: relative;
  z-index: 1;
  width: $element-width;
}

.bground__top {
  width: $element-width;
  height: 375px;
  background: #186ab4;
}

.bground__bottom {
  width: $element-width;
  height: 1625px;
  background: #ffffff;
}