@import '../../styles/all-fonts.scss';
@import '../../styles/colors.scss';

.introdution {
  display: flex;
  width: 100%;
  min-height: 465px;
  flex-direction: row;
  background-color: map-get($colors, 'title');

  @media screen and (max-width: 810px) {
    min-height: 715px;
    flex-direction: column;
    align-items: center;
  }
  
  &__img {
    display: flex;
    width: 35%;
    height: 465px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 810px) {
      width: 100%;
       max-width: 475px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    display: flex;
    box-sizing: border-box;
    width: 65%;
    padding-left: 9.78%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    @media screen and (max-width: 1185px) {
      padding-left: 35px;

      @media screen and (max-width: 810px) {
      align-items: center;
      text-align: center;
      padding: 0;
    }
    }

    
  }

  &__name {
    display: inline;
    margin: 120px 0 0 0;
    @include nameFont('name');

    @media screen and (max-width: 810px) {
      margin-top: 30px;
    }
  }

  &__surname {
    @include nameFont('surname');
  }

  &__prof {
    @include nameFont('prof');
  }
}