@import '../../styles/all-fonts.scss';
@import '../../styles/colors.scss';

.introdution {
  display: flex;
  width: 100%;
  min-height: 465px;
  flex-direction: row;
  background-color: map-get($colors, 'title');
  
  &__img {
    display: flex;
    width: 35%;
    height: 465px;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    display: flex;
    box-sizing: border-box;
    width: 65%;
    padding-left: 9.78%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }

  &__name {
    display: inline;
    margin: 120px 0 0 0;
    @include nameFont('name');
  }

  &__surname {
    @include nameFont('surname');
  }

  &__prof {
    @include nameFont('prof');
  }
}