.summary__info {
  grid-area: summary;
  display: flex;
  min-height: 1440px;
  flex-direction: column;
  justify-content: flex-start;
  background: #161415;
}

.summary__photo {
  align-self: center;
  display: flex;
  width: 435px;
  height: 435px;
  margin-top: 90px;
}

.summary__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
