.summary__info {
  grid-area: summary;
  display: flex;
  min-height: 1437px;
  flex-direction: column;
  justify-content: flex-start;
  background: #161415;

  @media screen and (max-width: 960px) {
    height: 1228px;
    min-height: auto;
  }
}

.summary__photo {
  align-self: center;
  display: flex;
  width: 435px;
  height: 435px;
  margin-top: 90px;

  @media screen and (max-width: 1289px) {
    width: 340px;
    height: 340px;
  }

  @media screen and (max-width: 1000px) {
    width: 280px;
    height: 280px;
  }
}

.summary__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
