@use '../mixins' as mixins;
@use '../../../../../fonts/fonts.scss' as font;

.location {
  @include mixins.main-wrapper;
}

.location__icon-wrapper {
  @include mixins.icon-wrapper;
}

.location__icon {
  width: 59px;
  height: 50px;
}

.location__info-wrapper {
  @include mixins.info-wrapper;
}

.location__info {
  @include font.DMSans;
  @include mixins.info;
}