html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #cdedf3, #c6f0f6, #b8ecf6, #a7eef8);
  
  //@media screen and (max-width: 1127px) {
  //  font-size: 14px;
  //}
  //
  //@media screen and (max-width: 1000px) {
  //  font-size: 16px;
  //}
}