@import './styles/colors.scss';

.portfolio {
  position: relative;
  max-width: 1414px;
  min-height: 2100px;
  margin: 40px auto 40px;
  box-shadow: 3px -3px 10px #161415;
  background-color: map-get($colors, 'white');

  @media screen and (max-width: 1413px) {
    margin: 0;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: #045877;
}

a:active {
  color: #5303ad;
}