.portfolio {
  position: relative;
  max-width: 1414px;
  height: 2000px;
  margin: 40px auto 40px;
  box-shadow: 3px -3px 10px #161415;
}

a {
  text-decoration: none;
}

a:hover {
  color: #047767;
}

a:active {
  color: #5303ad;
}