.portfolio {
  position: relative;
  max-width: 1414px;
  min-height: 2000px;
  margin: 40px auto 40px;
  box-shadow: 3px -3px 10px #161415;

  @media screen and (max-width: 1414px) {
    width: 100%;
    margin: 0 auto;
    box-shadow: none;

    @media screen and (max-width: 960px) {
      min-height: 3238px;
    }
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: #045877;
}

a:active {
  color: #5303ad;
}