@import '../../../styles/all-fonts.scss';
@import '../../../styles/colors.scss';

.lang-skill {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5px;

  &__record {
    display: block;
    width: 24%;
  }

  &__title {
    @include contactText;
  }

  &__skill {
    width: 150px;
    margin-right: 44px;
  }

  &__level {
    height: 12px;
    border-radius: 0;
  }

  &__level::-webkit-progress-bar {
    background-color: map-get($colors , 'gray');
  }

  &__level::-webkit-progress-value {
    background-color: map-get($colors, 'blue');
  }
}