@import '../../styles/separators.scss';
@import '../../styles/all-fonts.scss';

.contacts {
  display: flex;
  width: 100%;
  margin-top: 85px;
  flex-direction: column;
  justify-content: flex-start;

  &__title {
    @include titleText('gray');
  }

  &__separator {
    @include separator('white');
  }
}