@use '../mixins' as mixins;
@use '../../../../../fonts/fonts.scss' as font;

.linkedIn {
  @include mixins.main-wrapper;
}

.linkedIn__icon-wrapper {
  @include mixins.icon-wrapper;
}

.linkedIn__icon {
  width: 60px;
  height: 60px;

  @media screen and (max-width: 1139px) {
    width: 40px;
    height: 40px;
  }
}

.linkedIn__info-wrapper {
  @include mixins.info-wrapper;
}

.linkedIn__info {
  @include font.DMSans;
  @include mixins.info;
}