@use "sass:map";
@use '../../../styles/all-fonts.scss';
@use '../../../styles/colors.scss';

.certificate {
  display: flex;
  flex-direction: row;

  &__link {
    @include all-fonts.textGeneral('biggest');
    color: map.get(colors.$colors, 'text');
    text-decoration: underline;
  }
}