@use '../../../../fonts/fonts.scss' as fonts;

$text-color: #FFFFFF;

.contacts {
  display: flex;
  width: 91%;
  padding-top: 45px;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.contacts__about,
.contacts__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.contacts__about {
  width: 76%;
}

.contacts__links {
  width: 85%;

  @media screen and (max-width: 1310px) {
    width: 98%;
  }
}

.contacts__title-about,
.contacts__title-links {
  @include fonts.DMSans;
  font-size: 2.2rem;
  color: $text-color;
}

.contacts__text-about {
  @include fonts.DMSans;
  text-align: center;
  font-size: 1.5rem;
  color: $text-color;
}

.contacts__links-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

