@mixin main-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

@mixin icon-wrapper {
  display: flex;
  width: 20%;
  height: 60px;
  justify-content: center;
  align-items: center;
}

@mixin info-wrapper {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}

@mixin info {
  text-align: center;
  color: #FFFFFF;
  font-size: 2rem;
}