@use '../../../assets/fonts/fonts' as font;

.skills {
  grid-area: skills;
  display: flex;
  width: 100%;
  height: 350px;
  margin-top: 25px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.skills__title-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: #161415;
}

.skills__title {
  @include font.DMSans;
  font-size: 2.2rem;
  color: #ffffff;
  text-transform: uppercase;
}

.skills__info-wrapper {
  display: flex;
  width: 75%;
  margin-left: 5%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  @media screen and (max-width: 559px) {
    width: 95%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}