.cv {
  display: flex;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 2000px;
  margin-top: -2000px;
  padding-top: 48px;
  justify-content: center;
}

.cv__wrapper {
  display: grid;
  max-width: 1270px;
  width: 100%;
  margin: 0 48px 160px 92px;
  grid-template-columns: 40% 59%;
  grid-template-rows: 328px 790px 320px 430px;
  grid-template-areas: 'summary name'
                       'summary expirience'
                       'summary education'
                       'certificates skills';
  column-gap: 22px;
}