.cv {
  display: flex;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  min-height: 2000px;
  margin-top: -2000px;
  padding-top: 48px;
  justify-content: center;

  @media screen and (max-width: 960px) {
    margin-top: -3200px;
  }
}

.cv__wrapper {
  display: grid;
  max-width: 1270px;
  width: 100%;
  margin: 0 48px 160px 92px;
  grid-template-columns: 40% 59%;
  //grid-template-rows: 250px 790px 320px 430px 430px 430px;
  grid-auto-rows: min-content;
  grid-template-areas: 'summary name'
                       'summary expirience'
                       'summary education'
                       'certificates skills';
  column-gap: 22px;

  @media screen and (max-width: 1367px) {
    width: 98%;
    max-width: none;
    margin: 0 auto 160px;

    @media screen and (max-width: 1290px) {
      width: 95%;
    }
  }

  @media screen and (max-width: 960px) {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-rows: 230px 1270px 330px 710px 300px 350px;
    grid-template-areas: 'name'
                           'summary'
                           'education'
                           'expirience'
                           'certificates'
                           'skills';
  }
}