@use '../../../../fonts/fonts.scss' as font;

.experience__record {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;

  @media screen and (max-width: 1370px) {
    gap: 15px;
  }
}

.experience__record-title {
  align-self: flex-start;
  @include font.DMSans;
  font-size: 1.6rem;
  font-weight: 700;
  color: #161415;
}

.experience__record-description {
  align-self: flex-start;
  @include font.DMSans;
  font-size: 1.4rem;
  font-weight: 200;
  color: #161415;
}