@use '../../../../assets/fonts/fonts.scss' as font;

.experience__record {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;

  @media screen and (max-width: 1370px) {
    gap: 15px;

    @media screen and (max-width: 1136px) {
      gap: 10px;
    }

    @media screen and (max-width: 1000px) {
      gap: 3px;
    }
  }
}

.experience__record-title {
  align-self: flex-start;
  @include font.DMSans;
  font-size: 1.6rem;
  font-weight: 700;
  color: #161415;

  @media screen and (max-width: 1000px) {
    font-size: 1.4rem;
  }
}

.experience__record-description {
  align-self: flex-start;
  @include font.DMSans;
  font-size: 1.2rem;
  font-weight: 300;
  color: #161415;

  @media screen and (max-width: 1000px) {
    font-size: 1.2rem;
  }
}