@use '../../../assets/fonts/fonts' as font;
.experience {
  grid-area: expirience;
  display: flex;
  width: 100%;
  height: 760px;
  margin-top: 30px;
  flex-direction: column;
  gap: 15px;
  
  @media screen and (max-width: 1136px) {
    gap: 10px;
  }
}

.experience__header-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: #161415;
}

.experience__header {
  @include font.DMSans;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #ffffff;
}

.experience__title-wrapper {
  display: flex;
  width: 95%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
}

.experience__title {
  @include font.DMSans;
  font-size: 1.6rem;
  font-weight: 500;
  color: #161415;
}

.experience__info-wrapper {
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 20px;
  
  @media screen and (max-width: 1370px) {
    gap: 15px;

    @media screen and (max-width: 1136px) {
      gap: 10px;
    }
  }
}