$colors: (
  'background': linear-gradient(45deg, #b8d0da, #aab8be, #92999c, #7e8081),
  'title': #eaebed,
  'panel': #3a3a3a,
  'white': #ffffff,
  'black': #010101,
  'name': #4c4d4f,
  'prof': #1f2022,
  'blue': #5ac6eb,
  'darkText': #3a3a3a
);