@import './colors.scss';

@mixin separator($type) {
  display: block;
  width: 100%;
  height: 5px;
  margin-top: 19px;
  @if ($type == 'black') {
    background-color: map-get($colors, 'panel');
  }

  @if ($type == 'white') {
    background-color: map-get($colors, 'gray');
  }
}