@use '../../../../fonts/fonts.scss' as font;

.skill {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.skill__name {
  @include font.Montserrat;
  font-size: 1.8rem;
  font-weight: 300;
  color: #161415;
}

.skill__value-wrapper {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
  align-items: center;
}

.skill__progress {
  appearance: none;
  height: 10px;
}

.skill__progress::-webkit-progress-bar {
  background-color: #ced3d5;
  border-radius: 5px;
}

.skill__progress::-webkit-progress-value {
  background-color: #27384c;
  border-radius: 5px;
}

.skill__value {
  @include font.Montserrat;
  font-size: 2rem;
  font-weight: 700;
  color: #1f3a68;
}