@use '../mixins' as mixins;
@use '../../../../../assets/fonts/fonts.scss' as font;

.phone {
  @include mixins.main-wrapper;
}

.phone__icon-wrapper {
  @include mixins.icon-wrapper;
}

.phone__icon {
  width: 35px;
  height: 55px;

  @media screen and (max-width: 1139px) {
    width: 25px;
    height: 30px;
  }
}

.phone__info-wrapper {
  @include mixins.info-wrapper;
}

.phone__info {
  @include font.DMSans;
  @include mixins.info;
}